.contact-container{
    padding: 50px 150px;
    padding-bottom: 0px;
}

.contact-container .heading h1 {
    color: #FFF;
    text-align: right;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 61.346px; /* 122.692% */
    letter-spacing: -1.5px;
    max-width: 453px;
    margin-bottom: 30px;
}

.contact-container .heading{
    justify-content: flex-end;
    display: flex;
}

.contact-details{
    background-color: #DBFF00;
    border-radius: 100px 100px 0px 0px ;
    color: black;
    padding-top: 83px;
    padding-left: 81px;
    padding-right: 81px;
    justify-content: space-between;
    display: flex;
    padding-bottom: 81px;
}

.contact-details .text a {
    color: #000;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: -1.25px;
    border-bottom:3px solid black ;
    text-decoration: none;
    
}

.contact-details .text p {
    color: #000000;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: -1.25px;
    text-decoration: none;
    margin-top: 30px;
    
}

.contact-details .text strong {
    color: #000;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: -1.25px;
    text-decoration: none;
    margin-top: 30px;
    
}





.contact-details .text img{
    position: absolute;
    width: 40px;
}

.contact-details .input{
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.contact-details .input h1 {
    color: black;
    margin-bottom: 10px;
    font-weight: 200;
    font-size: 24px;
    text-align: right;
}

.contact-details .input form{
    gap: 10px;
    display: flex;
    flex-direction: column;
    
    
}

.contact-details input{
    width: 250px;
    background-color: transparent;
    border: 1px black solid ;
    padding: 5px 10px ;
    border-radius: 5px;
    font-size: 14px;
    color: #000;
    outline: none;
}



.contact-details input::placeholder{
    opacity: 0.2;
    color: #000;
}

.contact-details textarea{
    max-width: 250px;
    min-width: 250px;
    min-height: 100px;
    background-color: transparent;
    border: 1px black solid ;
    padding: 5px 10px ;
    border-radius: 5px;
    font-size: 14px;
    color: #000;
    outline: none;
}

.contact-details textarea::placeholder{
    opacity: 0.2;
    color: #000;
}

.contact-details button{
    background: #10101E;
    padding: 10px 20px ;
    max-width: 100px ;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}


@media screen and (max-width:720px){
    .contact-container{
        padding: 50px 0px;
        padding-bottom: 0px;
        display: flex;
        flex-direction: column;
        margin: 0px;
        width: 100%;
        margin-left: auto;
       
    }

    .contact-details{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }

    .contact-container .heading h1 {
       
        text-align: right;
        font-size: 35px;
        font-weight: 400;
        line-height: 40px; /* 122.692% */
        margin-right: 20px;
        
    }

    .contact-details{
       
        border-radius: 60px 60px 0px 0px ;
        color: black;
        padding-top: 83px;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: center;
        display: flex;
        padding-bottom: 81px;
        align-items: center;
    }

    .contact-details .text a {
        color: #000;
        font-size: 23px;
        font-weight: 500;
        letter-spacing: -1.25px;
        border-bottom:3px solid black ;
        text-decoration: none;
        
    }

    .contact-details .text p {
        color: #000000;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: -1.25px;
        text-decoration: none;
        margin-top: 30px;
        
    }
    .contact-details .text strong {
        color: #000;
        font-size: 25px;
        font-weight: 500;
        letter-spacing: -1.25px;
        text-decoration: none;
        margin-top: 30px;
        
    }
    .contact-details .text img{
        position: absolute;
        width: 30px;
    }
    
    .contact-details .input {
       margin-top: 30px;
        
        
    }
    
}

